@font-face {
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url('/fonts/bodonimoda-var-normal-latin.woff2') format('woff2');
}
@font-face {
  font-family: 'Bodoni Moda';
  font-style: italic;
  font-weight: 400 800;
  font-display: swap;
  src: url('/fonts/bodonimoda-var-italic-latin.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/inter-var-normal-latin.woff2') format('woff2');
}
